.header {
  display: flex;
  flex-flow: row wrap;
  height: 90px;
  width: 100%;
  background-color: rgb(255, 148, 146);
  align-items: center;
  justify-content: space-around;
}

.title {
  color: rgb(30, 30, 30);
  font-family: Alegreya Sans SC, sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.logo {
  color: rgb(30, 30, 30);
  font-size: 30px;
  padding-bottom: 8px;
  margin-right: 4px;
  margin-left: 80px;
}

input {
  border: 2px solid rgb(30, 30, 30);;
  border-radius: 8px;
  color: rgb(30, 30, 30);
  font-family: Roboto , sans-serif;
  font-size: 15px;
  height: 30px;
  padding: 0 50px;
  width: 100%;
  margin: 0 20px;
}

.input-wrapper {
  display: flex;
  flex-grow: 0.7;
  flex-wrap: wrap;
}

.search-icon {
  color: rgb(255, 148, 146);
  margin-left: 30px;
  margin-top: 9px;
  position: absolute;
}

.cart-icon {
  color: rgb(30, 30, 30);
  margin-right: 80px;
  font-size: 35px;
}
